.navbar8-wrapper {
  display: contents;
}
.navbar8-container1 {
  top: 0;
  width: 100%;
  height: var(--dl-size-size-small);
  display: flex;
  z-index: 1000;
  position: sticky;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar8-navlink1 {
  display: contents;
}
.navbar8-image1 {
  width: var(--dl-size-size-small);
  height: auto;
  text-decoration: none;
}
.navbar8-action2 {
  right: var(--dl-space-space-sixunits);
  display: flex;
  position: absolute;
  align-self: center;
  text-align: right;
  flex-direction: row;
  text-decoration: none;
}
.navbar8-text1 {
  text-align: center;
}
.navbar8-container2 {
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
  flex-direction: column;
}
.navbar8-navlink2 {
  font-size: 24px;
  font-style: normal;
  font-family: "Merriweather";
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar8-navlink3 {
  font-size: 24px;
  font-style: normal;
  font-family: "Merriweather";
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.grand-canyon-fragment12 {
  display: contents;
}
.grand-canyon-text12 {
  display: inline-block;
}
.grand-canyon-fragment11 {
  display: contents;
}
.grand-canyon-text11 {
  display: inline-block;
  font-size: 22px;
}
.grand-canyon-fragment10 {
  display: contents;
}
.grand-canyon-text10 {
  display: inline-block;
  font-size: 24px;
}
.navbar8root-class-name {
  height: var(--dl-size-size-small);
}

.hero171-wrapper {
  display: contents;
}
.hero171-header78 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.hero171-column {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.hero171-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.hero171-text1 {
  font-size: 64px;
  text-align: center;
}
.hero171-text2 {
  text-align: center;
}
.hero171-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
}
.hero171-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.hero171-row-container1 {
  width: 100%;
}
.hero171-strip1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.hero171-row-container2 {
  width: 100%;
}
.hero171-strip2 {
  animation-direction: normal;
}
.hero171-placeholder-image1 {
  width: 400px;
  height: 400px;
}
.hero171-placeholder-image2 {
  width: 400px;
  height: 400px;
}
.hero171-placeholder-image3 {
  width: 400px;
  height: 400px;
}
.hero171-placeholder-image4 {
  width: 400px;
  height: 400px;
}
.hero171-placeholder-image5 {
  width: 400px;
  height: 400px;
}
.hero171-placeholder-image6 {
  width: 400px;
  height: 400px;
}
.hero171-container2 {
  display: contents;
}
.grand-canyon-fragment14 {
  display: contents;
}
.grand-canyon-text14 {
  display: inline-block;
}
.grand-canyon-fragment13 {
  display: contents;
}
.grand-canyon-text13 {
  display: inline-block;
}
@media(max-width: 767px) {
  .hero171-content2 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .hero171-actions {
    width: 100%;
    flex-direction: column;
  }
}

.features241-wrapper {
  display: contents;
}
.features241-container1 {
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.features241-container2 {
  width: 928px;
  display: grid;
  grid-gap: var(--dl-space-space-fiveunits);
  position: relative;
  grid-template-columns: 1fr 1fr;
}
.features241-image-container {
  height: 100%;
  display: flex;
  position: relative;
}
.features241-image1 {
  width: 1635px;
  height: 932px;
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.features241-image2 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.features241-image3 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.features241-tabs-menu {
  gap: var(--dl-space-space-twounits);
  width: 680px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.features241-tab-horizontal1 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.features241-divider-container1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.features241-container3 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
.features241-content1 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.features241-feature1-title {
  font-size: 50px;
}
.features241-feature1-description {
  font-size: 20px;
}
.features241-tab-horizontal2 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.features241-divider-container2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.features241-container4 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
.features241-content2 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.features241-feature2-title {
  font-size: 50px;
}
.features241-feature2-description {
  font-size: 20px;
}
.features241-tab-horizontal3 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.features241-divider-container3 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.features241-container5 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
.features241-content3 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.features241-feature3-title {
  font-size: 50px;
}
.features241-feature3-description {
  font-size: 20px;
}
.grand-canyon-fragment16 {
  display: contents;
}
.grand-canyon-text16 {
  display: inline-block;
}
.grand-canyon-fragment20 {
  display: contents;
}
.grand-canyon-text20 {
  display: inline-block;
}
.grand-canyon-fragment18 {
  display: contents;
}
.grand-canyon-text18 {
  display: inline-block;
}
.grand-canyon-fragment17 {
  display: contents;
}
.grand-canyon-text17 {
  display: inline-block;
}
.grand-canyon-fragment19 {
  display: contents;
}
.grand-canyon-text19 {
  display: inline-block;
}
.grand-canyon-fragment15 {
  display: contents;
}
.grand-canyon-text15 {
  display: inline-block;
}
@media(max-width: 991px) {
  .features241-container2 {
    grid-gap: var(--dl-space-space-twounits);
    grid-template-columns: 1fr;
  }
}

.contact1-wrapper {
  display: contents;
}
.contact1-contact20 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}
.contact1-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.contact1-link1 {
  display: contents;
}
.contact1-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  text-decoration: none;
}
.contact1-contact-info1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact1-content2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact1-text1 {
  align-self: stretch;
  text-align: center;
}
.contact1-text2 {
  text-align: center;
}
.contact1-email {
  text-align: center;
}
.contact1-content3 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.contact1-contact-info2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.contact1-link2 {
  display: contents;
}
.contact1-content4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}
.contact1-icon3 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.contact1-text3 {
  font-size: 26px;
  font-style: normal;
  text-align: center;
  font-family: "STIX Two Text";
  font-weight: 600;
}
.contact1-address {
  text-align: center;
  text-decoration: none;
}
.grand-canyon-fragment21 {
  display: contents;
}
.grand-canyon-text21 {
  display: inline-block;
}
.grand-canyon-fragment22 {
  display: contents;
}
.grand-canyon-text22 {
  display: inline-block;
}
.grand-canyon-fragment24 {
  display: contents;
}
.grand-canyon-text24 {
  display: inline-block;
  font-size: 26px;
  font-style: normal;
  font-family: "STIX Two Text";
  font-weight: 700;
}
.grand-canyon-fragment23 {
  display: contents;
}
.grand-canyon-text23 {
  display: inline-block;
}
@media(max-width: 767px) {
  .contact1-max-width {
    flex-direction: column;
  }
}

.footer4-wrapper {
  display: contents;
}
.footer4-footer7 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.footer4-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer4-content {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer4-logo {
  gap: 24px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.footer4-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
}
.footer4-credits {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.footer4-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.footer4-container {
  display: flex;
  align-items: flex-start;
}
.footer4-footer-links {
  gap: 24px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
.grand-canyon-fragment26 {
  display: contents;
}
.grand-canyon-text26 {
  display: inline-block;
}
.grand-canyon-fragment27 {
  display: contents;
}
.grand-canyon-text27 {
  display: inline-block;
}
.grand-canyon-fragment25 {
  display: contents;
}
.grand-canyon-text25 {
  display: inline-block;
}
@media(max-width: 767px) {
  .footer4-row {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .footer4-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer4-links {
    flex-direction: column;
  }
  .footer4-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.grand-canyon-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.grand-canyon-fragment10 {
  display: contents;
}
.grand-canyon-text10 {
  display: inline-block;
  font-size: 24px;
}
.grand-canyon-fragment11 {
  display: contents;
}
.grand-canyon-text11 {
  display: inline-block;
  font-size: 22px;
}
.grand-canyon-fragment12 {
  display: contents;
}
.grand-canyon-text12 {
  display: inline-block;
}
.grand-canyon-fragment13 {
  display: contents;
}
.grand-canyon-text13 {
  display: inline-block;
}
.grand-canyon-fragment14 {
  display: contents;
}
.grand-canyon-text14 {
  display: inline-block;
}
.grand-canyon-fragment15 {
  display: contents;
}
.grand-canyon-text15 {
  display: inline-block;
}
.grand-canyon-fragment16 {
  display: contents;
}
.grand-canyon-text16 {
  display: inline-block;
}
.grand-canyon-fragment17 {
  display: contents;
}
.grand-canyon-text17 {
  display: inline-block;
}
.grand-canyon-fragment18 {
  display: contents;
}
.grand-canyon-text18 {
  display: inline-block;
}
.grand-canyon-fragment19 {
  display: contents;
}
.grand-canyon-text19 {
  display: inline-block;
}
.grand-canyon-fragment20 {
  display: contents;
}
.grand-canyon-text20 {
  display: inline-block;
}
.grand-canyon-fragment21 {
  display: contents;
}
.grand-canyon-text21 {
  display: inline-block;
}
.grand-canyon-fragment22 {
  display: contents;
}
.grand-canyon-text22 {
  display: inline-block;
}
.grand-canyon-fragment23 {
  display: contents;
}
.grand-canyon-text23 {
  display: inline-block;
}
.grand-canyon-fragment24 {
  display: contents;
}
.grand-canyon-text24 {
  display: inline-block;
  font-size: 26px;
  font-style: normal;
  font-family: "STIX Two Text";
  font-weight: 700;
}
.grand-canyon-fragment25 {
  display: contents;
}
.grand-canyon-text25 {
  display: inline-block;
}
.grand-canyon-fragment26 {
  display: contents;
}
.grand-canyon-text26 {
  display: inline-block;
}
.grand-canyon-fragment27 {
  display: contents;
}
.grand-canyon-text27 {
  display: inline-block;
}
