.navbar8-wrapper {
  display: contents;
}
.navbar8-container1 {
  top: 0;
  width: 100%;
  height: var(--dl-size-size-small);
  display: flex;
  z-index: 1000;
  position: sticky;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar8-navlink1 {
  display: contents;
}
.navbar8-image1 {
  width: var(--dl-size-size-small);
  height: auto;
  text-decoration: none;
}
.navbar8-action2 {
  right: var(--dl-space-space-sixunits);
  display: flex;
  position: absolute;
  align-self: center;
  text-align: right;
  flex-direction: row;
  text-decoration: none;
}
.navbar8-text1 {
  text-align: center;
}
.navbar8-container2 {
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: flex-start;
  flex-direction: column;
}
.navbar8-navlink2 {
  font-size: 24px;
  font-style: normal;
  font-family: "Merriweather";
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navbar8-navlink3 {
  font-size: 24px;
  font-style: normal;
  font-family: "Merriweather";
  font-weight: 700;
  margin-left: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-fragment12 {
  display: contents;
}
.home-text12 {
  display: inline-block;
}
.home-fragment11 {
  display: contents;
}
.home-text11 {
  display: inline-block;
  font-size: 22px;
}
.home-fragment10 {
  display: contents;
}
.home-text10 {
  display: inline-block;
  font-size: 24px;
}
.navbar8root-class-name {
  height: var(--dl-size-size-small);
}

.hero17-wrapper {
  display: contents;
}
.hero17-header78 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.hero17-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.hero17-placeholder-image10 {
  width: var(--dl-size-size-xlarge);
  height: var(--dl-size-size-xxlarge);
  align-self: flex-end;
  margin-top: var(--dl-space-space-unit);
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.hero17-column {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.hero17-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.hero17-text1 {
  text-align: center;
}
.hero17-text2 {
  text-align: center;
}
.hero17-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
}
.hero17-text3 {
  text-align: center;
}
.hero17-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.hero17-row-container1 {
  width: 100%;
}
.hero17-placeholder-image11 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image12 {
  width: 400px;
  height: 400px;
  text-decoration: none;
}
.hero17-placeholder-image13 {
  width: 400px;
  height: 400px;
  text-decoration: none;
}
.hero17-placeholder-image14 {
  width: 400px;
  height: 400px;
  text-decoration: none;
}
.hero17-placeholder-image15 {
  width: 400px;
  height: 400px;
  text-decoration: none;
}
.hero17-placeholder-image16 {
  width: 400px;
  height: 400px;
  text-decoration: none;
}
.hero17-placeholder-image17 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image18 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image19 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image20 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image21 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image22 {
  width: 400px;
  height: 400px;
}
.hero17-row-container2 {
  width: 100%;
}
.hero17-placeholder-image23 {
  width: 400px;
  height: 400px;
  text-decoration: none;
}
.hero17-placeholder-image24 {
  width: 400px;
  height: 400px;
  text-decoration: none;
}
.hero17-placeholder-image25 {
  width: 400px;
  height: 400px;
  text-decoration: none;
}
.hero17-placeholder-image26 {
  width: 400px;
  height: 400px;
  text-decoration: none;
}
.hero17-placeholder-image27 {
  width: 400px;
  height: 400px;
  text-decoration: none;
}
.hero17-placeholder-image28 {
  width: 400px;
  height: 400px;
  text-decoration: none;
}
.hero17-placeholder-image29 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image30 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image31 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image32 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image33 {
  width: 400px;
  height: 400px;
}
.hero17-placeholder-image34 {
  width: 400px;
  height: 400px;
}
.hero17-container3 {
  display: contents;
}
.home-fragment13 {
  display: contents;
}
.home-text13 {
  display: inline-block;
}
.home-fragment15 {
  display: contents;
}
.home-text15 {
  display: inline-block;
}
.home-fragment14 {
  display: contents;
}
.home-text14 {
  display: inline-block;
}
@media(max-width: 767px) {
  .hero17-content2 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .hero17-actions {
    width: 100%;
    flex-direction: column;
  }
}

.features24-wrapper {
  display: contents;
}
.features24-container2 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-fiveunits);
  position: relative;
  grid-template-columns: 1fr 1fr;
}
.features24-image-container {
  height: 100%;
  display: flex;
  position: relative;
}
.features24-image1 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.features24-image2 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.features24-image3 {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.features24-tabs-menu {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.features24-tab-horizontal1 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.features24-divider-container1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.features24-container3 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
.features24-content1 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.features24-tab-horizontal2 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.features24-divider-container2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.features24-container4 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
.features24-content2 {
  gap: 16px;
  flex: 1;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.features24-tab-horizontal3 {
  gap: var(--dl-space-space-twounits);
  cursor: pointer;
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.features24-divider-container3 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
}
.features24-container5 {
  width: 2px;
  align-self: stretch;
  background-color: var(--dl-color-theme-neutral-dark);
}
.home-fragment18 {
  display: contents;
}
.home-text18 {
  display: inline-block;
}
.home-fragment19 {
  display: contents;
}
.home-text19 {
  display: inline-block;
}
.home-fragment16 {
  display: contents;
}
.home-text16 {
  display: inline-block;
}
.home-fragment17 {
  display: contents;
}
.home-text17 {
  display: inline-block;
}
.features24root-class-name {
  align-self: flex-start;
}
@media(max-width: 991px) {
  .features24-container2 {
    grid-gap: var(--dl-space-space-twounits);
    grid-template-columns: 1fr;
  }
}

.footer4-wrapper {
  display: contents;
}
.footer4-footer7 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.footer4-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer4-content {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer4-logo {
  gap: 24px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-direction: column;
}
.footer4-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
}
.footer4-credits {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.footer4-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
.footer4-container {
  display: flex;
  align-items: flex-start;
}
.footer4-footer-links {
  gap: 24px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
.home-fragment21 {
  display: contents;
}
.home-text21 {
  display: inline-block;
}
.home-fragment22 {
  display: contents;
}
.home-text22 {
  display: inline-block;
}
.home-fragment20 {
  display: contents;
}
.home-text20 {
  display: inline-block;
}
@media(max-width: 767px) {
  .footer4-row {
    gap: var(--dl-space-space-oneandhalfunits);
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .footer4-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer4-links {
    flex-direction: column;
  }
  .footer4-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-fragment10 {
  display: contents;
}
.home-text10 {
  display: inline-block;
  font-size: 24px;
}
.home-fragment11 {
  display: contents;
}
.home-text11 {
  display: inline-block;
  font-size: 22px;
}
.home-fragment12 {
  display: contents;
}
.home-text12 {
  display: inline-block;
}
.home-fragment13 {
  display: contents;
}
.home-text13 {
  display: inline-block;
}
.home-fragment14 {
  display: contents;
}
.home-text14 {
  display: inline-block;
}
.home-fragment15 {
  display: contents;
}
.home-text15 {
  display: inline-block;
}
.home-fragment16 {
  display: contents;
}
.home-text16 {
  display: inline-block;
}
.home-fragment17 {
  display: contents;
}
.home-text17 {
  display: inline-block;
}
.home-fragment18 {
  display: contents;
}
.home-text18 {
  display: inline-block;
}
.home-fragment19 {
  display: contents;
}
.home-text19 {
  display: inline-block;
}
.home-fragment20 {
  display: contents;
}
.home-text20 {
  display: inline-block;
}
.home-fragment21 {
  display: contents;
}
.home-text21 {
  display: inline-block;
}
.home-fragment22 {
  display: contents;
}
.home-text22 {
  display: inline-block;
}
