body{
    background-color:black;
    color:white;
    font:arial;
    font-size:20;
}

.button{
  border: none;
  color:white;
  background-color:gray;
  padding: 2.75% 5%;
  text-align: center;
  display:block;
  font-size: 20px;
  font-weight:60;
  cursor: pointer;
  display:inline-block;
}


.button1{
    background-color:#00000;
    padding:45px 45px;
}


