html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #212121;
}
.button {
  border: none;
  color: darkgrey;
  padding: 2% 4%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  
}

.button1 {
  background-color: #3B3B3B;
  color: white;
  border: 2px solid #FFFFFF;
}

.button1:hover {
  background-color: #4B4B4B;
  padding: 3% 6%;
}
