html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #212121;
}
.button {
  padding: 5% 15%;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  outline: #5c5c5c;
  color: white;
  background-color: #373737;
  border: none;
  border-radius: 15%;
  margin: 10% 40%;
}

.button:hover {transform: scale(1.2) perspective 1px;}
